@model CRUD.Model.Produto

@{
    ViewBag.Title = "Index";

    var produtos = ViewBag.Produtos as List<CRUD.Model.Produto>;
}

<div class="row form-group">
    <div class="col-md-4">
        @using (Html.BeginForm("Index", "Produto", FormMethod.Post))
        {
            <div class="form-group">
                <label>Description</label>
                @Html.TextBoxFor(x => x.Descricao, new { Class = "form-control" })
            </div>
            <div class="form-group">
                <label>Category</label>
                @Html.DropDownListFor(x => x.CategoriaId, (IEnumerable<SelectListItem>)ViewBag.Categorias, "Selecione", new { Class = "form-control" })
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
        }
    </div>
</div>

@if(produtos != null && produtos.Count > 0)
{
    <div class="row form-group">
        <div class="col-md-4">
            <table class="table table-hover">
                <tr>
                    <th>Description</th>
                    <th>Category</th>
                    <th></th>
                </tr>
                @foreach (var item in produtos)
                {
                    <tr>
                        <td>@item.Descricao</td>
                        <td>@item.Categoria.Descricao</td>
                        <td>
                            @Html.ActionLink("Alterar", "Alterar", "Produto", new { @id = item.Id }, null)
                            @Html.ActionLink("Excluir", "Excluir", "Produto", new { @id = item.Id }, null)
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
}
